## Laravel / PHP
/backend/vendor
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/bootstrap/cache/*.php
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/storage/app/*
!/backend/storage/app/.gitignore
/backend/storage/framework/cache/*
!/backend/storage/framework/cache/.gitignore
/backend/storage/framework/sessions/*
!/backend/storage/framework/sessions/.gitignore
/backend/storage/framework/views/*
!/backend/storage/framework/views/.gitignore
/backend/storage/logs/*
!/backend/storage/logs/.gitignore
/backend/auth.json
Homestead.json
Homestead.yaml

## Docker
mysql-data/

## OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
